.google-visualization-table {
  .dimension{
    text-align: left;
  }
  .measure{
    text-align: right;
  }
  .total{
    background: #e4e9f4;
  }
  .google-visualization-table-th {
    white-space: normal;
  }
}
